<!-- <h1>{{hero.name}} Detail</h1>
<div class="hero-box">
    <table>
        <thead>
            <th>HeroID</th>
            <th>HeroName</th>
        </thead>
        <tbody>
            <tr>
                <td>{{hero.id}}</td>
                <td>{{hero.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- [(ngModel)]是添加双向数据绑定语法 -->
<!-- <input type="text" [(ngModel)]="heroStyle" placeholder="请在这里输入">
(click)=是添加点击事件语法
<!-- <button class="hero-btn" (click)="heroClickEvent(heroStyle)">点击事件</button>
<div>{{heroStyle}}</div> -->
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes" >
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span>{{hero.name}}
        </a>
    </li>
</ul>

<!-- <hero-detail-app [hero]="selectedHero"></hero-detail-app> -->


