<div *ngIf="grade">
    <table>
        <thead>
            <th *ngFor="let column of grade.columnConfig" [class.cssName]="column.display === '0'">
                <span>{{column.columnDisplayName}}</span>
            </th>
        </thead>
        <tbody>
            <tr *ngFor = "let data of grade.data; index as idx">
                <td *ngIf="grade.columnConfig[0].display === '1'" >{{data.MyID}}</td>
                <td *ngIf="grade.columnConfig[1].display === '1'">{{data.MyName}}</td>
                <td class="scoreRow" *ngIf="grade.columnConfig[2].display === '1'">
                    <grade-score-app [score]="data.Math" [dataObj]="grade" [index]="idx" [columnIndex]="grade.columnConfig[2].index" [flag]="data.mathFlag"  ></grade-score-app>            
                </td>
                <td class="scoreRow" *ngIf="grade.columnConfig[3].display === '1'">
                    <grade-score-app [score]="data.English" [dataObj]="grade" [index]="idx" [columnIndex]="grade.columnConfig[3].index" [flag]="data.englishFalg"></grade-score-app>            
                </td>
            </tr>
        </tbody>    
</table>
</div>