<div *ngIf="jsonObj">
    <table>
        <thead>
            <th>{{jsonObj.header[0]}}</th>
            <th>{{jsonObj.header[1]}}</th>
            <th>{{jsonObj.header[2]}}</th>
        </thead>
        <tbody>
            <tr *ngFor = "let data of jsonObj.data">
            <td>{{data.MyID}}</td>
            <td>{{data.MyName}}</td>
            <td class="scoreRow">
                <grade-score-app [score]="data.Score" [scoreStyle]="scoreStyle"></grade-score-app>            
            </td>
        </tr>
        </tbody>    
</table>
</div>
