<div class="grade-btn">
    <div class="btn-box">
        <div class="getData-btn" [class.selected]="originJsonObj === jsonObj" (click)="getData()">
            <button type="button">getData</button>
        </div>
        <div class="checkData-btn" [class.selected]="checkScore === originScore" (click)="checkData()">
            <button type="button">checkData</button>
        </div>
    </div><br/>
    <div class="grade-tab">
        
    </div>
</div>
<!-- <div *ngIf="originJsonObj"> -->
    <grade-tab-app [jsonObj]="jsonObj" [scoreStyle]="scoreStyle"></grade-tab-app>
<!-- </div> -->

